<div class="login-card">
    <h2>Login</h2>
    <form [formGroup]="form" (submit)="login()">
      <div class="form-group">
        <label for="username">Username</label>
        <input formControlName="username" type="text" id="username" name="username" required>
        <p *ngIf="this.form.controls['username'].invalid">A username kitöltése kötelező</p>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password" type="password" id="password" name="password" required>
        <p *ngIf="this.form.controls['password'].invalid">A jelszó kitöltése kötelező</p>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>